
<h3><%= @recipe.title %></h3>
<label>By "<%= @recipe.chef&.name %>"</label>

<img src="<%= @recipe.photo&.url %>" />
<p><%= @recipe.description %></p>
<em>Tags: <%= @recipe.tags.map(&:name).join(', ') %></em>

